/* css reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
  }
  
  body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
li{
    list-style: none;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #13a3a3;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    
}



nav .logo{
    font-weight: 700;
    font-size: 30px;
    color: #07516c;
    text-shadow: 5px 2px 3px #f1ecf2, 2px 2px 5px #2b92b2;
    margin-left: -10%;
    
}
  
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600 PX;
    font-size: 25PX;
    margin-right: -10%;
    
}


nav ul li:hover{
    text-decoration: underline;
    font-weight: 900;

}
img[alt="hello"]{
    height: 15%;
    width: 15%;
}
img[alt="pc-image"]{
    width: 15%;
    height: 15%;
}
img[alt="project-image"]{
    height: 220px;
    width: 220px;
}
img[alt="social"]{
    height: 85px;
    width: 85px;
}

.projects{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.projects div h1{
    font-size: 40px;
    color: white;
}
.horizontal-divider{
    height: 10px;
    width: 155px;
    background-color: #13a3a3;
    border-radius: 20px;
    margin-bottom: 20px;
}
.project-list{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    column-gap: 25px;
    color: rgb(213, 205, 205);
}
.project-list p{
    margin-top: 4px;
}
.Project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}